!!!
html
  head
    link(href='http://fonts.googleapis.com/css?family=Snippet|Libre+Baskerville:400,700,400italic', rel='stylesheet', type='text/css')
    link(href="/css/base.css", type="text/css", rel="Stylesheet")
    block head
  body
    .bar
      .title-block
        i.me
        h1.title Hoppy Humle
        em.leader Scribblings of a hop-head in Norway.
    .container
      block content

