!!!
html
  head
    link(href="/css/base.css", type="text/css", rel="Stylesheet")
    block head
  body
    .container
      .title-block
        h1.title Hoppy Humle
        em.leader Scribblings of a hop-head in Norway.
      block content

