!!!
html
  head
    link(href='http://fonts.googleapis.com/css?family=Inconsolata:400|Snippet|Libre+Baskerville:400,700,400italic', rel='stylesheet', type='text/css')
    link(href="/css/base.css", type="text/css", rel="Stylesheet")
    block head
  body
    .bar
      .title-block
        a.me(href="http://untappd.com/user/jonpacker", target="_blank")
        h1.title Hoppy Humle
        em.leader Scribblings of a hop-head in Norway.
    .container
      block content

